*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background: linear-gradient(135deg, #153677, #1e5b70);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.599);
    padding: 30px;
    border-radius: 20px;
}

form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #dedede;
    border-radius: 30px;
    padding-left: 20px;
    margin-top: 20px;
}

form input{
    width: 500px;
    height: 40px;
    outline: none;
    border: none;
    background: #d9d9d9;
    text-align: center;
    font-size: 16px;
}

form button{
    height: 40px;
    width: 80px;
    outline: none;
    border: none;
    border-radius: 30px;
    background: #496dfd;
    color: white;
}

#lists h1{
    margin: 30px 0px 10px 0px;
}

#todo-list li, #completed-list li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    line-height: 30px;
    font-size: 17px;
    border-bottom: solid 1px black;
    margin-bottom: 10px;
}

#completed-list{
    text-decoration: line-through;
}

#remove{
    height: 30px;
    width: 80px;
    border: none;
    outline: none;
    border-radius: 30px;
    background: rgb(247, 79, 79);
    color: white;
}

#remove:hover, #check:hover, form button:hover{
    cursor: pointer;
}

#check{
    scale: 2;
    margin-right: 10px;
}

